
#top_bar_container {
    display: flex;
    justify-content: space-between;

}
#logo_image_text {
    display: flex;

}
#middle_title {
    font-size: 4rem;
}
#logo{
    width: 100px;
    margin-right: 10px;

}
#text_logo {
    color: rgb(153, 213, 221);
    font-size: 2rem;
}
#logo_text {
    font-size: 2rem;
    color: white;
}
#top_bar_container {
    padding: 30px;
    background-color: rgb(3, 3, 61);
    
}

#text_list {
    padding: 30px;

}

#project_content {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
#middle_bar_container {
    color: white;
    background-color: rgb(38, 38, 100);
}
#middle_list {
    font-size: 1.5rem;
    
    
}

.bullet {
    margin-top: 30px
}
